

header {
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid Black;
}

nav {
  padding-right: 70px;
}

nav span {
  display: inline-block;

}
nav a {
  color: Black;
}

#logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#logo span {
  color: MediumAquamarine;
}
